@import url('https://fonts.googleapis.com/css?family=Open+Sans');

:root {
	color-scheme: light dark;
	--msg-color: blue;
    --bg-color: powderblue;
}

@media (prefers-color-scheme: dark) {
    :root {
		--msg-color: red;
	    --bg-color: black;
	}
}

body {
    background-color: var(--bg-color);
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.container {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.message {
    color: var(--msg-color);
    font-size: 2em;
    text-align: center;
}
